<h2 class=text-center> Ils l'ont fait !</h2>

<div class="featureContainer" style="margin-top: 150px;">
      <div class= "blocexemple bottomanim">
        <div class="img-pix"><img src="image/verdot.png"></div>
        <h5>VERDOT Ips, le choix de la sobriété</h3>
        <p>VERDOT Ips est une PME de l’industrie pharmaceutique. 
          Son site web a été éco-conçu, dans une démarche de sobriété numérique.
            Il respecte ainsi les bonnes pratiques, notamment en n’ayant recours à aucune police personnalisée.</p>
      </div>
      <div class= "blocexemple headline" style='text-align: center;'>
        <div class="img-pix"><img src="image/ihavegreen2.png"></div>
        <h5>Ihaveagreen.fr, notre lauréat !</h3>
        <p>I Have a Green crée des sites web éco-conçus et ça se voit ! 
          La page d’accueil donne le ton, avec un design simple, épuré et minimaliste. 
          Sur EcoIndex, tous les indicateurs sont au vert pour la page d’accueil du site.</p>
      </div>
      <div class= "blocexemple bottomanim">
        <div class="img-pix"><img src="image/mcdo.png"></div>
        <h5>Mcdonalds.fr, une bonne surprise !</h3>
        <p>McDonald’s est très engagé en matière de développement durable. 
          Et son site semble tenir compte des bonnes pratiques d’éco-conception, 
          au moins au niveau de sa page d’accueil. Sa note globale sur EcoIndex est très élevée.</p>
      </div>
    </div>
    <br><br>
    <div class="intro">
      <p>Notre test confirme qu’éco-conception web et performance ne sont 
      pas incompatibles !<br> C’est même le contraire : certaines bonnes pratiques
       d’éco-conception web favorisent la performance du site.</p>
      <h2 style="padding-top: 30px;">A vous de jouer !</h2>
    </div>