html, body
{
	box-sizing: content-box;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif !important; 
	color: #5f6368 !important;
	font-size: 1.1rem;
}

main
{
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.marge
{
	width: 90%;
}

a
{
	text-decoration: none;
}


/*NAVBAR*/
nav .navbar
{
	box-sizing: content-box;
	max-width: 100%;
}

.logo
{
	height: 30px;
}

.nav-link, .navbar>button
{
	font-size: 0.9rem;
}

.nav-link:hover
{
	color: black;
}

/*"INTROS"*/
.intro
{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro>p
{
	font-size: 1.2rem;
}

.intro>h2
{
	font-size: 2.7rem;
}

.banner
{
	height: 500px;
}

/*BlOC FEATURES */
.featureContainer
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.blocexemple
{
	height: 100%;
	width: 30%;
	padding: 20px;
	font-size: 0.85rem !important;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	-webkit-box-shadow: 0px 1px 15px -3px #A7A7A7; 
	box-shadow: 0px 1px 15px -3px #A7A7A7;
}

.img-pix
{
	box-sizing: content-box;
	width: 100%;
	height: 173px;
}

.img-pix img
{
	box-sizing: content-box;
	width: 100%;
	height: 100%;
}

.featureContainer h4
{
	margin-top: 10px;
}
/*FIN BLOC FEATURES */

/*ICONES*/

.icones
{
	box-shadow: none;
}

.roundpix
{
	object-fit: contain;
	height: 160px;
}

.icones img, .roundpix img
{	
	background-clip: content-box;
	border-radius: 100%;
}

.icones:hover
{
	transition: 0.2s;
	cursor: pointer;
	color: #007bff;
}

.noroundpix
{
	width: 240px;
	height: 160px;
}

.appear
{
	opacity: 0;
}

/*ANIMATION JS*/
#exemple-un
{
	opacity: 0;
}

#exemple-trois
{
	opacity: 0;
}

.form
{
	width: 90%;
}

form
{
	width: 100%;
}

/*FOOTER*/
footer
{
	height: 10%;
	padding: 20px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9rem;
}

footer .svg a svg
{
	height: 30px;
	color: #5f6368;
}

/*CLASSES DE POSITIONNEMENT*/
.spaced
{
	margin-left: 10px;
	margin-right: 10px;
}

.spaced-sup
{
	margin-left: 20px;
	margin-right: 20px;
}

.spaced-y
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.spacedy-sup
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.bigspacedy
{
	margin-top: 80px;
	margin-bottom: 80px;
}

.rowcss
{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.space-around
{
	justify-content: space-around;
}

.rowdiv
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column
{
	display: flex;
	flex-direction: column;
}

.flexcenter
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.flexcenterbw
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.centered
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.pointer
{
	cursor: pointer;
}

button:hover
{
	transition: box-shadow .2s ease;
	transform: translateY(-1px);
	box-shadow: 0 4px 10px rgba(50,50,93,.226),0 1px 3px rgba(0,0,0,.08);
}

.text-left-column
{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.line
{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 60px;
}

.line p
{
	text-align: justify;
}

.justifyandpadding
{
	text-align: justify;
	padding-top: 80px;
}
